footer {
    text-align: center;
}

article {
    margin-top: 50px;
}

.admin-table {
	width: 100%;
} 

label {
	width: 100%;
}

.form-item {
	width: 100%;
}
.guest-table {
	width: 100%;
	color: #000;
	margin: 0 0 20px 0; 
}
.guest-table th {
	background: #000;
	border: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	text-align: center;
	padding: 0 10px;
}
.guest-table .user {
	width: 130px;
}
.guest-table .email {
	width: 130px;
}
.guest-table .identificator {
	width: 60px;
}
.guest-table td:nth-child(1), .guest-table td:nth-child(2), .guest-table td:nth-child(3) {
	text-align: center;
}
.form-block input,.form-block textarea {
	border-radius: 5px;
	border: 1px solid gray;
	margin: 0 15px 15px 0;
	width: 300px;
	padding: 10px 10px;
}
.form-block textarea {
	width: 620px;
}


[data-sort]{
        cursor: pointer;
    }
    [data-sort='desc']:after{
        content : '↓';   
    }
    [data-sort='none']:after{
        content : '↕';

    }
    [data-sort='asc']:after{
        content : '↑'; 
    }